<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 扫描包：排除掉Controller -->
    <context:component-scan base-package="com.school.identification_of_rice">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- jdbc.properties -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">

        <!-- 数据库信息 -->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- 连接池设置 -->
        <property name="initialSize" value="10"/>
        <property name="maxActive" value="16"/>  <!-- 连接池最大活跃连接数 -->
    </bean>

    <!-- 注册 事务管理器 ： 是个切面类 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">

        <!-- 注入数据源：链接均从数据源当中获取 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启事务的注解驱动 ： 将环绕通知作用到连接点上，即 @Transactional 标记的类 或 方法使用事务管理 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 配置SQLSessionFactoryBean -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 设置mybatis核心配置文件的路径 : 看后续 mybatis 配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>

        <!-- 数据源设置成 druid 的 -->
        <property name="dataSource" ref="dataSource"/>

        <property name="typeAliasesPackage" value="com.school.identification_of_rice.pojo"/>

    </bean>


    <!-- 将要的 Mapper 接口的代理类注入到Spring的IOC容器, 如果多个 mapper 目录，使用,号分隔即可 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.school.identification_of_rice.mapper"/>
    </bean>

</beans>